.calculator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  position: relative;
}
.calculator-body {
  display: flex;
  justify-content: center;
  background-color: #17171c;
  width: 25rem;
  height: 50rem;
  display: grid;
  justify-content: center;
  align-content: flex-end;
  min-height: 60vh;
  grid-template-columns: repeat(4, 72px);
  grid-template-rows: minmax(70px, auto) repeat(5, 72px);
  padding: 90px;
  column-gap: 15px;
  row-gap: 20px;
  border-radius: 10px;
  /* font-family: work 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  padding-top: 0px;
  position: relative;
}

.calculator-body button {
  border-radius: 24px;
  font-size: 32px;
  border: 0px solid white;
  background-color: #2e2f38;
  color: white;
  cursor: pointer;
}
.calculator-body button:hover {
  background-color: #ababab;
  transition: 0.3s;
}
.calculator-body .btn-light {
  background-color: #4e505f;
}
.calculator-body .btn-blue {
  background-color: #4b5efc;
}
.calculator-display {
  grid-column: 1 / -1;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 5px;
  word-wrap: break-word;
  word-break: break-all;
}
.calculator-display .calculator-summary {
  font-size: 40px;
  color: gray;
}
.calculator-display .calculator-equal {
  font-size: 90px;
  color: white;
}
.home-btn{
  position: absolute;
  bottom: 5px;
}
.nouch{
  position: absolute;
  top: 0;
}
